.header__container {
	height: 10vh;
	/* border-style: solid;
	border: 2px;
	border-color: red; */
}

.header__content {
	display: flex;
	justify-content: space-between;
}


.header__content h1 {
	font-size: 40px;
	margin-left: 60px;
}

